<!DOCTYPE html>
<html>
<head>

<body>
    <header>
        <h1>Contacte - SportGym</h1>

    </header>

    <div class="container">
        <table>
            <tr>
                <td>Adresă</td>
                <td>Strada Bulevardul Moscovei 12/1</td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td>+37369784356</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>contact@sportgym.com</td>
            </tr>
        </table>
    </div>

</body>
</html>

