<main>
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21743.34578161362!2d28.81991935566428!3d47.06145449531887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97d92b601c3f7%3A0x42df9d22f1c4e8fd!2sBig%20Sport%20Gym%20Po%C8%99ta%20Veche!5e0!3m2!1sro!2s!4v1681298227819!5m2!1sro!2s" width="700" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</main>
