<main>
     <h1>Find the best gym products for your fitness journey.</h1>
     <a href="#" class="btn">Shop Now</a>
     <div class="products">
          <div class="product">

               <a href="@Url.Action("Id1", "Home", new { })" class="product-1">
                    <img src="~/Content/img/gym-p1.jpg" alt="gym stuff" class="my-image-class" />
                    <h2>Product 1</h2>
               </a>
               <p>$50.00</p>
               <a href="#" class="btn">Add to Cart</a>
          </div>
          <div class="product">
               <img src="img/product2.jpg" alt="Product 2">
               <h2>Product 2</h2>
               <p>$75.00</p>
               <a href="#" class="btn">Add to Cart</a>
          </div>
          <div class="product">
               <img src="img/product3.jpg" alt="Product 3">
               <h2>Product 3</h2>
               <p>$100.00</p>
               <a href="#" class="btn">Add to Cart</a>
          </div>
     </div>
</main>