<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
     <title>SportsGym Website</title>
     <style>
          body {
               background-color: #1f1f1f;
               color: #fff;
          }

          header {
               padding: 20px;
               text-align: center;
          }

          h1 {
               margin: 0;
          }

          p {
               margin: 10px 0;
          }

          table {
               width: 100%;
               border-collapse: collapse;
               background-color: #333;
          }

          th, td {
               padding: 8px;
               text-align: left;
               border-bottom: 1px solid #ddd;
          }

          th {
               background-color: #555;
               color: #fff;
          }

          td {
               background-color: #222;
          }
     </style>
</head>
<body>
     <header>
          <h1>Price List</h1>
          <h1>-----------------------------</h1>
          <h1>-----------------------------</h1>
          <p>FULL ACCESS - ALL PLACES</p>
     </header>
     <main>
          <table>
               <tr>
                    <th>Subscription</th>
                    <th>Price</th>
                    <th>Duration</th>
                    <th>Weekdays Schedule</th>
                    <th>Weekends Schedule</th>
               </tr>
               <tr>
                    <td>1 Month Unlimited</td>
                    <td>500 lei</td>
                    <td>1 month</td>
                    <td>07.00-23.00</td>
                    <td>09.00-20.00</td>
               </tr>
               <tr>
                    <td>3 Months Unlimited</td>
                    <td>950 lei</td>
                    <td>3 months</td>
                    <td>07.00-23.00</td>
                    <td>09.00-20.00</td>
               </tr>
               <tr>
                    <td>12 Months Unlimited</td>
                    <td>3400 lei</td>
                    <td>12 months</td>
                    <td>07.00-23.00</td>
                    <td>09.00-20.00</td>
               </tr>
          </table>
     </main>
</body>
</html>
