<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SportsGym Website</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Price-list</h1>
        <h1>-----------------------------</h1>
        <h1>-----------------------------</h1>
        <p>FULL ACCES - TOATE FILIALELE</p>
    </header>
    <main>
 
        <head>
 
            <style>
                table {
                    width: 100%;
                    border-collapse: collapse;

                }

                th, td {
                    padding: 8px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                }

                th {
                    background-color: #f2f2f2;
                }
            </style>
        </head>
        <body>


            <table>
                <tr>
                    <th>Abonament</th>
                    <th>Preț</th>
                    <th>Durată</th>
                    <th>Program luni-vineri</th>
                    <th>Program simbata-duminica</th>
                <tr>
                <tr>
                    <td>Abonament standart</td>
                    <td>400 lei</td>
                    <td>1 luna</td>
                    <td>07.00-23.00</td>
                    <td>09.00-20.00</td>
                </tr>
                <tr>
                    <td>Abonament premium</td>
                    <td>650 lei</td>
                    <td>2 luni</td>
                    <td>07.00-23.00</td>
                    <td>09.00-20.00</td>
                </tr>
                <tr>
                    <td>1 luna nelimitat</td>
                    <td>500 lei</td>
                    <td>1 luna</td>
                    <td>07.00-23.00</td>
                    <td>09.00-20.00</td>
                </tr>
                <tr>
                    <td>3 luni nelimitat</td>
                    <td>950 lei</td>
                    <td>3 luni</td>
                    <td>07.00-23.00</td>
                    <td>09.00-20.00</td>
                </tr>
                <tr>
                    <td>12 luni nelimitat</td>
                    <td>3400 lei</td>
                    <td>12 luni</td>
                    <td>07.00-23.00</td>
                    <td>09.00-20.00</td>
                </tr>
            </table>

        </body>
 
    </main>
</body>
</html>