@model GymSports.Data.Models.Product
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table class="table">
     <tr>
          <th>ProductId</th>
          <td>@Model.ProductId</td>
     </tr>
     <tr>
          <th>ProductName</th>
          <td>@Model.ProductName</td>
     </tr>
     <tr>
          <th>Rate</th>
          <td>@Model.Rate</td>
     </tr>
</table>

