
#mascot-container {
     position: fixed;
     bottom: 20px;
     width: 100px;
     height: 100px;
     visibility: hidden;
     transition: opacity 0.5s ease;
}

     #mascot-container.hidden {
          opacity: 0;
     }

     #mascot-container img {
          width: 100%;
          height: 100%;
     }

#mascot-message {
     position: absolute;
     top: -50px;
     left: 50%;
     transform: translateX(-50%);
     background-color: #ffd966;
     color: #222222;
     padding: 10px;
     border-radius: 5px;
     font-size: 18px;
     font-weight: bold;
     text-align: center;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
