.btn {
     background-color: #333;
     color: #fff;
     padding: 10px 20px;
     border-radius: 5px;
     margin-top: 20px;
}

     .btn:hover {
          cursor: pointer;
          background-color: #444;
     }

.products {
     display: flex;
     justify-content: space-between;
     margin-top: 50px;
}

.product {
     background-color: #eee;
     padding: 20px;
     border-radius: 5px;
     text-align: center;
     flex-basis: 30%;
}

     .product img {
          width: 100%;
          margin-bottom: 20px;
     }

     .product h2 {
          margin-bottom: 10px;
     }

     .product p {
          font-weight: bold;
          margin-bottom: 10px;
     }
