
h1 {
     transition: all 0.3s ease;
     color: var(--text-light-color);
}

.btn {
     background-color: black;
     color: white;
     padding: 11px 21px;
     border-radius: 5px;
     margin-top: 20px;
}

     .btn:hover {
          cursor: pointer;
          transition: all 0.6s ease;
          border: 1px solid #000;
          background-color: white;
     }

.products {
     display: flex;
     justify-content: space-between;
     margin-top: 50px;
}

.product {
     background-color: #eee;
     padding: 20px;
     border-radius: 5px;
     text-align: center;
     flex-basis: 30%;
}

     .product img {
          width: 100%;
          margin-bottom: 20px;
     }

     .product h2 {
          color: black;
          margin-bottom: 10px;
     }

     .product p {
          color: darkgreen;
          font-weight: bold;
          margin-bottom: 10px;
     }

     .product a{
          text-decoration:none;
     }
          .product a:hover {
               cursor: pointer;
               transition: all 0.6s ease;
               background: linear-gradient(to right, #fc4a1a, #f7b733);
          }